* {
  text-decoration: none;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}

:root{
  --box-shadow:0 .5rem 1.5rem rgba(0, 0, 0, .1);
  --black: #192a56;
  --lighting-color: #666;

}

header {
  display: flex;
  box-sizing: border-box;
  top: 0;
  right: 0;
  left: 0;
  justify-content: space-around;
  border-bottom: 1px rgb(202, 202, 202) solid;
  height: 3.5rem;
  white-space: nowrap;
}


.logo {
  margin-top: 5px;
  width: 220px;
  height: 80%;
}


nav ul{
  display: flex;
  justify-content: space-evenly;
}

nav li a{
  display: flex;
  padding: 0 1rem;
  color: black;
}

nav li a:hover {
  color: #255f82;
  border-bottom: 2px solid #192a56;
  height: 2.4rem;
}

header span {
  cursor: pointer;
}

.icons{ 
  margin-right: auto;
  margin: 0 1rem;
}

.icons abbr, i{
  cursor: pointer;
  line-height: 3.3rem;
  padding: 5px;
  font-size: 18px;
  color: #666;
  align-items: center;
}

form{
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-content: center;
  background: rgb(241, 241, 241);
  margin: auto;
  width: 100%;
}

form i {
  position: absolute;
  z-index: 3;
}

/*
.icon {
  padding-right: 30rem;
}

.button {
  background: #255f82;
  color: white;
  font-weight: bolder;
  border: none;
  border-radius: 1.5rem;
}
*/